@charset "UTF-8";

.container2{
	width: 100vw;
	height: 100vh;
	display: flex;
}
.input{
	widht: 100%;
	display: flex;
	flex-direction: column;
}
form{
	width: 100%;
	margin: 40px 80px;
	padding: 10px 30px;
}
input{
	margin: 10px 0px;
}
button{
	width: 70px;
	height: 30px;
	background-color: green;
	color : white;
}