<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yena.test.jsp.dao.SellerDAO">
	<select id="selectSeller" resultType="com.yena.test.jsp.model.Seller">
		SELECT 
			`id`
			,`nickname`
			,`temperature`
			,`profileImgae`
			,`createdAt`
			,`updatedAt`
		FROM
			`seller`
		ORDER BY `id` DESC
		LIMIT 1
	</select>
	
	<insert id="insertSeller" parameterType="map">
		INSERT INTO
			`seller`
		(
			`nickname`
			,`temperature`
			,`profileImgae`
			,`createdAt`
			,`updatedAt`
		)
		VALUE
		(
			#{nickname}
			,#{temperature}
			,#{profileImgae}
			,now()
			,now()
		)
	</insert>
</mapper>